
body {
  font-family: 'Courier', 'Courier New', monospace;

  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none !important;
}

img {
  padding-top: 10px;
  padding-bottom: 20px;
  max-width: 100%;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.footer {
  padding-top: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container {
  text-align: justify;
  padding-bottom: 10px;
}

@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}

@media (min-width: 412px) {
  .container {
    max-width: 412px;
  }
}

@media (min-width: 530px) {
  .container {
    max-width: 530px;
  }
}

.item {
  padding-bottom: 10px;
}
