
{% extends "base.html" %}

{% block title%}{% endblock %}

{% block item %}
  <div class="item">
    <h3>{{ style.item.description }}</h3>

    {# TODO: make img srcset dynamic #}
    <img src="/static/teee.jpg" sizes="70vw"
         srcset="/static/teee320.jpg 320w, /static/teee360.jpg 360w, /static/teee412.jpg 412w, /static/teee768.jpg 768w"
         alt="Roysss Teee">

    {# TODO: add link to other sizes #}

    <p class="description">{{ style.description }}</p>
    <p>{{ style.item.amount|currency }}</p>

    <p>
    {% if style.item.inventory > 0 %}
      <form action="/shop/checkout/" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ stripe.PUBLISHABLE_KEY }}"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-description="{{ style.item.description }}"
          data-amount="{{ style.item.amount }}"
          data-locale="auto"
          data-zip-code="true"
          data-billing-address="true"
          data-label="Purchase"
          data-allow-remember-me="false">
        </script>
        <input type="hidden" name="style_id" value="{{ style.style_id }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      </form>
    {% else %}
      <strong>Sold Out</strong>
    {% endif %}
    </p>
  </div>
{% endblock %}
